@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 10px solid black;
  border-bottom-color: transparent;
  animation: rotate 1s linear infinite;
  margin: auto;
  margin-top: 25vh;

  &__text {
    text-align: center;
  }
}
