.main__page {
  &_header {
    overflow: hidden;
    &-span {
      color: #856a94;
      text-shadow: 7px -2px 5px rgba(133, 106, 148, 0.88);
    }
  }
  &_greeting {
    text-align: center;
  }

  &_buttons {
    display: flex;
    justify-content: space-around;
    padding: 8px;
  }
}
