@import '../../vars.scss';

.btn {
  border-radius: 50%;
  border: none;
  width: 170px;
  padding: 8px;
  background-color: $btn-color;

  &:hover {
    cursor: pointer;
    -webkit-box-shadow: $wbkt-box-shadow;
    box-shadow: $box-shadow;
  }

  &:hover .link {
    color: $link-hover-color;
  }
}

.link {
  color: $link-color;
  text-decoration: none;
}
